[submodule "Minesweeper"]
	path = Minesweeper
	url = https://github.com/sochka/Minesweeper.git
[submodule "tools/PINCE"]
	path = tools/PINCE
	url = https://github.com/korcankaraokcu/PINCE
[submodule "chocolate-doom"]
	path = chocolate-doom
	url = git@github.com:kravtsun/chocolate-doom.git
